.container
  .row
    .col-md-4.col-md-offset-4
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Sign up
        .panel-body
          = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
            = devise_error_messages!
            %fieldset
              .form-group
                = f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Login'
              .form-group
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail'
              .form-group
                = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
                - if @minimum_password_length
                  %em
                    (#{@minimum_password_length} characters minimum)
                .form-group
                  = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Password'
              .checkbox
                %label
                  = f.check_box :remember_me
                  Remember Me
                = f.submit "Sign Up", class: 'btn btn-lg btn-success btn-block'
        .panel-footer
          = render "devise/shared/links"
