- tweet ||= Tweet.new
.row
  = form_for [current_user, tweet], class: 'form-group' do |f|
    .row
      .form-group.col-sm-6.col-sm-offset-3
        = f.text_area :content, class: 'form-control', placeholder: 'Tweet some news...'
    .row.col-sm-2.col-sm-offset-5.text-center
      .form-group
        = f.submit 'Tweet', class: 'btn btn-success'
