= render 'form'
.row
  - @tweets.each do |x|
    .col-sm-6.col-sm-offset-3
      .panel.panel-default
        .panel-heading
          = x.user.login
          posted
          = time_ago_in_words(x.created_at)
          ago
        .panel-body
          = x.content
        .panel-footer
          = form_tag(like_user_tweet_path(x.user, x), method: 'put', remote: true, class: 'form-inline tweet-like') do
            %button.btn.btn-danger.btn-circle
              %i.fa.fa-heart
              %span.likes-count= x.get_likes.count
          = link_to 'Edit', edit_user_tweet_path(current_user, x), class: "btn btn-xs btn-primary"
          = link_to 'Destroy', user_tweet_path(current_user, x), class: "btn btn-xs btn-warning", data: {:confirm => 'Are you sure?'}, :method => :delete
