.container
  .row
    .col-md-4.col-md-offset-4
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Forgot your password?
        .panel-body
          = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
            = devise_error_messages!
            %fieldset
              .form-group
                = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'E-mail'
              = f.submit "Send me reset password instructions", class: 'btn btn-lg btn-success btn-block'
        .panel-footer
          = render "devise/shared/links"
