.container
  .row
    .col-md-4.col-md-offset-4
      .login-panel.panel.panel-default
        .panel-heading
          %h3.panel-title Please Sign In
        .panel-body
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            %fieldset
              .form-group
                = f.text_field :login, autofocus: true, class: 'form-control', placeholder: 'Login'
              .form-group
                = f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password'
              .checkbox
                %label
                  = f.check_box :remember_me
                  Remember Me
              = f.submit "Log in", class: 'btn btn-lg btn-success btn-block'
        .panel-footer
          = render "devise/shared/links"
