.row
  .col-lg-3.col-lg-offset-9
    .panel.panel-default
      .panel-heading
        %i.fa.fa-th-list.fa-fw
        Friends List
      .panel-body
        .list-group
          %a.list-group-item{:href => "#"}
            %i.fa.fa-user.fa-fw
            - friends.each do |x|
              = x.login
              %span.pull-right.text-muted.small
                %em
                - if x.current_sign_in_at
                  = time_ago_in_words(x.current_sign_in_at)
                  ago
        = link_to 'View All Friends', friends_path, class: 'btn btn-default btn-block'
        = link_to 'Find More Friends', friends_path, class: 'btn btn-default btn-block'
