%nav.navbar.navbar-default.navbar-static-top{role: 'navigation', style: 'margin-bottom: 0'}
  .navbar-header
    %button.navbar-toggle{'data-target' => '.navbar-collapse', 'data-toggle' => 'collapse', type: 'button'}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to 'Twitter', root_path, class: 'navbar-brand'
  %ul.nav.navbar-top-links.navbar-right
    - if user_signed_in?
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %i.fa.fa-user.fa-fw
          %i.fa.fa-caret-down
        %ul.dropdown-menu.dropdown-user
          %li
            = link_to edit_user_registration_path do
              %i.fa.fa-user.fa-fw
              User Profile
          %li.divider
          %li
            = link_to destroy_user_session_path, method: :delete do
              %i.fa.fa-sign-out.fa-fw
              Logout
