!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Twitter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      = render 'layouts/header'
      .row
        .navbar-default.sidebar{:role => "navigation"}
          .sidebar-nav.navbar-collapse.panel
            %ul#side-menu.nav.in
              %li
                %a.active{:href => "index.html"}
                  %i.fa.fa-dashboard.fa-fw
                  Dashboard
              %li
                %a{:href => "#"}
                  %i.fa.fa-bar-chart-o.fa-fw
                  Charts
                  %span.fa.arrow
                %ul.nav.nav-second-level.collapse
                  %li
                    %a{:href => "flot.html"} Flot Charts
                  %li
                    %a{:href => "morris.html"} Morris.js Charts
              %li
                %a{:href => "tables.html"}
                  %i.fa.fa-table.fa-fw
                  Tables
              %li
                %a{:href => "forms.html"}
                  %i.fa.fa-th.fa-fw
                  Friends List
      - if user_signed_in?
        = friends_for_user
      .container
        - {'alert-success' => notice, 'alert-danger' => alert}.each do |k,v|
          - if v
            = render 'layouts/flash', klass: k, notice: v
        = yield
